#backlog {
    border: 3px solid #666;
    width: 25%;
}
#backlogDiv #backlog {
    border: 0px solid #666;
    float: left;
    width: 100%;
    position: fixed;
    z-index: 10;
    width: min-content;
}
.bdData {
    width: 3.5ch;
    text-align: center;
margin-left: 5;}
#scheduleScreen #backlogsummary {
    border: 3px solid #666;
}
.boardtitle {
    background-color: peachpuff;
    border: 3px solid #666;
    padding: 10px;
    width: 25%;
}
#burndownForm table {
    padding-right: 10px;
    padding-bottom: 20px;
    width: 100%;
}
#burndownForm tbody td {
    padding: 4px;
    text-align: center;
    width: 14.28%;
}
#burndownForm thead tr {
    background-color: cadetblue;
    height: 5ch;
}
#burndownForm tr:nth-child(even) {
    background-color: lavender;
}
.capacitydata td {
    padding: 3px;
}
.capacitydata td input {
    text-align: center;
}
.capacitySetting {
    width: 150px;
    vertical-align: top;
    /* align-items: center; */
}
.capacitySetting img {
    max-height: 75px;
    vertical-align: middle;
}
.checklist {
    border: 1px solid black;
}
.checklist .title {
    border: 2px darkgrey solid;
    margin-left: 0em;
    padding: 0.2em 0.2em;
    background-color: darkgrey;
    font-weight: bold;
}
.rowLabel {
    width: 100px;
    display: inline-block;
    background-color: gainsboro;
}
.container {
    -webkit-text-size-adjust: 100%;
    line-height: 1.5;
    border: 5px solid #666;
    border-radius: 1.5ch;
    box-sizing: inherit;
    margin: auto;
    padding: 0 1px 1.0em 15px;
    background-color: #fff;
    width: 500px;
}
.controls {
	float: right;
	max-width: 15%;
	padding-right: 3px;
	position: absolute;
	right: 5px;
	top: 5px;
	vertical-align: top;
}
#daterange {
    text-align: center;
    font-weight: bold;
    padding: 5px;
}
.divheader {
    background-color: burlywood;
    display: inline-block;
    width: 100%;
}
.droplist {
    border: 3px solid #666;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(5, 1fr);
    min-height: 100px;
}
.droptarget {
    border-style: double;
    background-color: rgb(182, 198, 185);
}
.editorsettings {
    border: 3px solid #666;
    margin-top: 15px;
    margin-right: 15px;
    float: left;
    min-width: 100px;
    overflow: hidden;
    min-height: 75px;
}
.editorsettings p {
    margin-bottom: 5px;
    margin-top: 0;
    background-color: gainsboro;
    font-weight: bold;
}
.formDescription {
    margin-top: 3ch;
    font-size: large;
}
.graphType {
    background-color: darkgray;
    padding: 10px;
    width: 20ch;
}
.graphType-selected {
    background-color: rgb(218, 218, 218);
    padding: 10px;
    width: 20ch;
}
.hand {
    text-align: justify;
    vertical-align: top;
    width: 12px;
}
.header {
    background-color: #c5bdbd;
    font-weight: bolder;
    padding: 3px;
}
.icons {
	position: relative;
}
img#holiday {
    width: 75px;
}
.inlineButton {
    vertical-align: middle;
    margin-left: 20px;
    margin-right: 20px;
}
.invisible {
    display: none;
}
.item {
    border-radius: .5em;
    text-align: center;
    width: 100px;
}
.itemDescription {
    margin: 0 5 5 5;
    text-align: left;
}
.leftDiv {
    float: left;
    width: 60%;
    margin-right: 15px;
}
.menuButton {
	text-align: center;
	height: 50px;
}
.menuIcon {
	text-align: center;
	height: 60px;
}
#sprintDiv {
    display: inline;
    float: left;
    width: 60%;
}
#sprintEditor #header {
    display: table-cell;
    font-weight: bold;
    font-size: larger;
    text-align: center;
    vertical-align: middle;
    width: 60ch;
}
.minbutton {
    background-color: gray;
    cursor: pointer;
    float: right;
    margin: 2px;
    padding: 0 5px 0 5px;
    top: 0;
}
.modal-content {
	-webkit-text-size-adjust: 100%;
	line-height: 1.5;
	box-sizing: inherit;
	margin: auto;
	background-color: #fff;
    padding: 10px;
	position: relative;
	outline: 0;
	width: 300px;
}
.modal {
	-webkit-text-size-adjust: 100%;
	line-height: 1.5;
	box-sizing: inherit;
	z-index: 15;
	padding: 100px;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.8);
	display: block;
}
#msbacklog, #qabacklog {
    border: none;
    height: 500px;
    table-layout: fixed;
}
#msbacklog td, #qabacklog td {
    border: none;
    vertical-align: top;
}
.mslayout {
    border: 3px solid #666;
    border-collapse: collapse;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 98%;
}
.msrequirements.current {
    background-color: #fee0e0;
}
.notecontrol {
    width: 35px;
}
.msrequirements #schedule {
    font-size: xx-small;
    text-align: center;
}
p.itemName {
    max-width: 50ch;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 90px;
}
.parameters {
    padding-left: 3px;
    padding-right: 3px;
}
#people {
    width: 750px;
}
.people {
    grid-template-columns: repeat(10, 1fr);
}
.postIt {
    width: 85px;
    height: 65px;
    margin: 10px;
}
.projectComponent {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
}
#projectInfo {
    padding-top: 5ch;
    padding-bottom: 5ch;
}
.reqt {
    background-color: chartreuse;
    border: 1px solid #666;
    width: 90%;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
.reqt.backlogitem p {
    max-width: 40ch;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}
.reqticon {
    width: 50px;
}
.reqtlist {
    list-style-type: none;
    margin: 0;
    padding-left: 5%;
    padding-top: 5px;
    overflow: hidden;
}
.requirement {
    height: 50px;
}
#requirementsForm #name {
    width: 485px;
    margin: 10 0 10 0;
}
#requirementsForm #description {
    max-width: 485px;
    min-width: 485px;
}
#requirementsScreen #requirements {
    position: relative;
    width: 100%;
    height: 200%;
    border: 3px solid #666;
    top: 93px;
}
#requirementsScreen #requirements.droptarget {
    border: 6px double #666;
}
#requirementsScreen #requirements .item {
    width: 175px;
    margin: 0;
    height: 130px;
    position: relative;
}
.rightDiv {
    float: left;
    width: 40%;
}
#scheduleDiv, #defaultsDiv {
    display: flex;
    width: 100%;
}
#scheduleScreen {
    display: flex;
    margin-top: 5px;
    width: 100%;
}
#savefile {
    float: right;
    margin-right: 0px;
}
#scheduleTable {
    width: 100%;
    border-width: 2px;
}
.selected {
    border: 2px solid #666;
    border-radius: 5px;
}
.slot {
    border: 3px solid #666;
    height: fit-content;
    padding: 1px;
}
.staffName {
    width: 100%;
}
.staffNameDiv {
    padding-left: 5px;
    padding-right: 5px;
}
.status {
    border: 3px solid #666;
    border-spacing: 0;
    padding: 0 0 0 0;
}
.taskbrief {
    background-color: rosybrown;
    border-radius: 0;
    display: inline-block;
    margin: 1.5%;
    vertical-align: top;
    width: 45%;
}
.taskcontrols img {
    height: 20px;
    float: right;
}
.taskcorner {
    height: 50px;
    vertical-align: top;
}
#teamDiv    {
    width: 100%;
}
.togglerow {
    width: 20px;
    float: right;
}
.topmenu {
    background-color: darkgray;
    border-bottom: 0;
    width: 20ch;
}
.topmenu:hover {
    background-color: grey;
}
.topmenu-selected {
    background-color: white;
}
.toprow {
    border-bottom: 3px solid black;
}
.undraggable {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.weekday {
    text-align: center;
    font-family: sans-serif;
    font-size: larger;
    background-color: aquamarine;
    margin: 3px;
    vertical-align: top;
}
.weekday .dayOfWeek {
    width: 100%;
}
.weekday .daytype {
    width: 100%;
    text-align: left;
}
.weekday #holiday .menuicon {
    width: 100%;
}
.weekdays {
    border: 3px solid #666;
}
#values {
    border: 3px solid #666;
    width: 100%;
    display: inline-block;
}
.bar1 { fill: steelblue; }
.bar2 { fill: deepskyblue; }
.plainbar:hover {fill: orange; }
.axis--x path { display: block; }
.greenline {
  fill: none;
  stroke: green;
  stroke-width: 3;
}
.redline {
  fill: none;
  stroke: red;
  stroke-width: 3;
}
.greendot {
  fill: green;
  stroke: green;
}
.reddot {
  fill: red;
  stroke: red;
}
div.tooltip {
  position: absolute;
  text-align: left;
  width: 90px;
  height: 30px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}
.devburndown { width: 150px; }


pastms {
    background-color: blue;
}

#holiday .menuicon {
    width: 100%;
}